
06-Week6/data/video_game_films.csv
06-Week6/data/Taylor_Train.csv
06-Week6/data/taylor_corrected.csv
06-Week6/data/student.txt
06-Week6/data/student-por.csv
06-Week6/data/student-merge.R
06-Week6/data/student-mat.csv
06-Week6/.env
06-Week6/.ipynb_checkpoints/TaylorSwiftClean-checkpoint.ipynb
05-Week5/data/titanic.csv
05-Week5/.ipynb_checkpoints/Week5Day1-checkpoint.ipynb
05-Week5/.ipynb_checkpoints/Untitled-checkpoint.ipynb
04-Week4/images/pos2.jpg
04-Week4/data/yacht_hydrodynamics.csv
04-Week4/data/possum.csv
04-Week4/data/auto_mpg_dataset.csv
04-Week4/data/ab_testing.csv
04-Week4/data-viz-starter-code.ipynb
04-Week4/.ipynb_checkpoints/weekend_project-checkpoint.ipynb
04-Week4/.ipynb_checkpoints/stats_assignment-checkpoint.ipynb
04-Week4/.ipynb_checkpoints/ml assignment-checkpoint.ipynb
04-Week4/.ipynb_checkpoints/intro_to_apis-checkpoint.ipynb
04-Week4/.ipynb_checkpoints/exercise-starter-code-checkpoint.ipynb
04-Week4/.ipynb_checkpoints/data-viz-starter-code-checkpoint.ipynb
03-Week3/data/regex_test.txt
03-Week3/data/pythonsqlite.db
03-Week3/.ipynb_checkpoints/regex_assignment-checkpoint.ipynb
03-Week3/.ipynb_checkpoints/intro_to_numpy_assignment-checkpoint.ipynb
03-Week3/.ipynb_checkpoints/Intro to Pandas Assignment-checkpoint.ipynb
03-Week3/.ipynb_checkpoints/AirBnB_Case_Study_Project-checkpoint.ipynb
02-Week2/.ipynb_checkpoints/Blackjack_Project_Empty-checkpoint.ipynb
02-Week2/.ipynb_checkpoints/Parking Garage Project-checkpoint.ipynb
04-Week4/weekend_project.ipynb
